.user-form {
    padding:50px;
}
.user-form .field {
    margin:0; background: #eee;
    padding: 10px;
}
.user-form .field label {
    display:inline-block; width:200px; margin-left:25px;
}
.user-form .field input {
    display:inline-block;
    border-radius: 5px;
    padding: 5px;
    width: 400px;

}
.user-form .info {
    margin-left: 230px;
    width: 400px;
    position: relative;
    top: -20px;
}
.user-form .field input[type="checkbox"] { 
    position: relative;
    top: -20px;
    left: -9px;
    width: 30px;
}

@media (max-width:900px) {
    .user-form .info {
        display: none;
    }
    .user-form .field input[type="checkbox"] { 
        position: relative;
        left: -90px;
        top: 0px;
    }
    .user-form .field input {
        width:200px; margin-left:25px;
    }
}

fieldset {
    box-shadow: 10px 10px 5px #888888;
}

input#submit{
    cursor:pointer; /*forces the cursor to change to a hand when the button is hovered*/
    padding:5px 25px; /*add some padding to the inside of the button*/
    border:1px solid; /*required or the default border for the browser will appear*/
    /*give the button curved corners, alter the size as required*/
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    /*give the button a drop shadow*/
    -webkit-box-shadow: 0 0 4px;
    -moz-box-shadow: 0 0 4px;
    box-shadow: 0 0 4px;
    /*style the text*/
    font-size:1.1em;
    margin-left: 230px;
    width: 160px;
}

input#submit:hover, input#gobutton:focus{
    /*reduce the drop shadow size to give a pushed button effect*/
    -webkit-box-shadow: 0 0 1px;
    -moz-box-shadow: 0 0 1px;
    box-shadow: 0 0 1px;
}