.clear
{
    clear: both;
}

body
{
    margin: 0;
    padding: 0;
    font-family: calibri, Arial, sans-serif;
    
}

body.main_body
{
    background-color: #dfdfdf;
}

a img
{  
    border-style: none;
}

.main_cont
{
    padding: 10px;
}

.main_head img
{
    /*float: left;
    padding-bottom: 4px;*/
}

.main_title_1
{
    font-family: calibri, Arial, sans-serif;
    font-size: 22pt;
    color: #013365;
}

.main_title_padding
{
    margin-left: 180px;
}

.main_title_2
{
    font-family: calibri, Arial, sans-serif;
    font-size: 20pt;
    color: #013365;
    font-style: italic;
    padding-left: 10px;
    padding-right: 10px;
    float:left;
    margin-left: 12px;
}

.login_details
{
    float: right;
    background-color: White;
    border: 1px solid #ccc;
    height: 52px;
    padding: 5px;
    width: 76px;
    
}

.login_details_withrole
{
    float: right;
    background-color: White;
    border: 1px solid #ccc;
    height: 52px;
    padding: 5px;
    width: 175px;
    
}

.login_details_guest
{
    float: right;
    background-color: White;
    border: 1px solid #ccc;
    height: 52px;
    padding: 5px;
    width: 95px;
}

.login_details_login
{
    left: 15px;
    position: relative;
    top: 15px;
}

.login_details_logout
{
    float: left;
    padding-top: 8px;
}

.login_details_role
{
    float: right;
    padding-top: 8px;
}

.login_details_user
{
    /*padding-top: 3px;*/
}

.main_body
{
    background-color: white;
    padding: 4px;
    padding-bottom: 0px;
}

.footer_padding
{
    height: 4px;   
    background-color: white;
}
.main_menu
{
    background-color: #013365;
    color: white;
    border: 1px solid white;
    margin-top: 4px;
}
.main_menu_item
{
    padding: 4px 8px;
    float:left;
    border-right: 1px solid white;
}
.main_menu_item a:visited
{
    color: white;
}
.main_menu_item a:link
{
    color: white;
}

.main_submenu
{
    background-color: #c6c6c6;
    color: #013365;
    border: 1px solid white;
    margin-top: 4px;
}
.main_submenu_item
{
    float:left;
    border-right: 1px solid white;
    padding: 4px 8px;
}

table.attrs
{
    border-collapse: collapse;
    border: 1px solid #CCC;
}
table.attrs td
{
    border: 1px solid #CCC;
}

table.border
{
    border-collapse: collapse;
    border: 1px solid #CCC;
}
table.border td
{
    border: 1px solid #CCC;
}
table.border th
{
    border: 1px solid #CCC;
    text-align: left;
}


table.relations
{
    border-collapse: collapse;
    /*border: 1px solid #CCC;*/
}
table.relations td
{
    /*border: 1px solid #CCC;*/
    vertical-align: top;
}
td.td_expand a img,  td.td_expand img
{
    position: relative;
    top:3px;
}
td.td_expand
{
    width: 18px;
}
td.td_weight
{
    width: 18px;
    font-size:70%;
}
td.td_weight a img,  td.td_weight img
{
    position: relative;
    top:3px;
}
table.relations p
{
    margin:2px;
}

table.history
{
    border-collapse: collapse;
    border: 1px solid #CCC;
}
table.history td
{
    border: 1px solid #CCC;
    vertical-align: top;
}

.sub_rels
{
    margin: 3px 3px 3px 12px;
}

.relations_link
{
    float:right;
}

.req_field
{
    color: Red;
    position: relative;
    top: 3px;
}

.login_error
{
    color: Red;
    font-size: 115%;
}

.form_error
{
    color: Red;
    position: relative;
    top: 3px;
}
 
.choose_node, .choose_group
{
    float: left;
    border: 1px solid #CCC;
    padding: 2px;
    cursor: pointer;
}
.choose_node img, .choose_group img
{
    position: relative;
    top: 2px;
}

.main_nodemenu
{
    float: left;
    padding: 0px;
    position: relative;
    margin-bottom: 4px;
    top: 2px;
    /*width: 354px;*/
    font-size: 18px;
    background-color: white;
    margin-right: 8px;
}

.main_nodemenu_actions
{
    padding: 2px;
    padding-left:4px;
    padding-right:4px;
    float: right;
}

.main_nodemenu_actions img
{
    position: relative;
    padding-right: 3px;
    top: 2px;
}

.main_nodemenu_actions span
{
    position: relative;
    padding-right: 0px;
    top: -4px;
    left: -3px;
}

.main_nodemenu_item
{
   padding: 0px 2px;
   margin-right: 4px;
    /*float: right;
    width:110px;*/
}

.main_nodemenu_item img
{
    position: relative;
    padding-right: 3px;
    top: 2px;
}

.main_nodemenu_popupcont
{
    position: absolute;
    width:150px;
    z-index: 60;
    padding-top: 33px;
    display: none;
    left: 1109px;
    top: 131px;
}

.main_nodemenu_item a
{
    width: 100%;
    display: block;
    padding: 1px;
    border: 1px solid #F9F9F9;
    text-decoration: none;
}

.main_nodemenu_item a:hover
{
    border: 1px solid #ccc;
    background-color: white;
}
.main_nodemenu_popup
{
    -webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
 
    filter: Shadow(Color='gray', Direction=135, Strength=3);
    -ms-filter:"progid:DXImageTransform.Microsoft.shadow(Color='gray', Direction=135, Strength=3)";
    background-color: #F9F9F9;
    border: 1px solid #ccc;
    padding-top:2px;
    padding-bottom:2px;
}
.round
{
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.main_foot
{
    padding: 6px;
    margin-top: 8px;
    border: 1px solid white;
    padding: 4px;
    background-color:#C6C6C6;
    color: #013365;
}

.top_round
{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-top-left-radius: 5px;
    -moz-border-top-right-radius: 5px;
}

.bottom_round
{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
}

.niceround
{
}

.niceround th, .round_block
{
    border:1px solid #ccc;
     -moz-border-radius: 5px;
    border-radius: 5px;
    padding-left: 7px;
    padding-right: 7px;
    text-align: left;
    background-color: #f9f9f9;
    font-weight: normal;
    width:150px;
}
.niceround td
{
    padding-left: 3px;
}

.message, .error {
    border: 1px solid #CCC;
   
    padding: 5px 5px 5px 32px;
    position: relative;
    font-size:110%;
    margin-bottom: 4px;
}

.message img, .error img {
    position: absolute;
    top: 1px;
    left: -1px;
}

.message {  background-color: #DDF; }
.error {  background-color: #FDD; }

form
{
    margin-bottom: 0px;
}
    
div.main_pagetitle
{
    padding: 5px 5px 5px 5px;
    /*height: 36px;*/
    /* stop multi line text */
    white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-family: calibri, Arial, sans-serif;
    font-size: 22pt;
    color: #013365;
    margin-top: 4px;
    border: 2px solid white;
}

div.main_footer
{
    height:28px;
    overflow: hidden;
    background-color: #EEE;
    text-align: right;
    padding: 5px 10px 5px 15px;
}

div.main_footer div
{
    padding-top: 4px;
}

div.main_footer_empty
{
    height:5px;
    overflow: hidden;
    background-color: white;
}

.td_clone_tools img
{
    position: relative;
    top: 1px;
    cursor: pointer;
}

.td_clone_tools
{
    width:60px;
}

.clone_nodetype_head img
{
    position: relative;
    top: 1px;
    cursor: pointer;
}

.tt_rc_total
{
    font-size: 16px;
    width: 150px;
    border-bottom: 1px solid #CCC;
    padding: 3px 8px;
}

.tt_rc_types
{
    background-color: white;
}

.tt_rc_type
{
    font-size: 14px;
    width: 150px;
    padding: 4px;
}

.clone_edit_box
{
    width: 100%;
    position: relative;
    top: -1px;
    margin: 0px;
}

.clone_node_changed img
{
   position: relative;
   top: 2px;
}

.clone_key_head
{
    font-weight: bold;
    margin-bottom: 8px;
}
.clone_key_item img
{
    position: relative;
    top: 3px;
}
.clone_key_item
{
    cursor: help;
}
.clone_key_info
{
    margin-top: 8px;
    font-style: italic;
}

.nodelist_node
{
    padding-left: 16px;
}

.link_image img
{
    position: relative;
    padding-right: 3px;
    top: 2px;
}
.link_image
{
    
}

.small_heading
{
    font-size: 110%;
    font-weight: bold;    
}

.from_date, .to_date
{
	display: none; 
}


.please_wait
{
    text-align: center;
    font-size: 120%;
    padding: 10px;
    display: none;
}

.please_wait div
{
    padding: 10px;
}

.rel_title
{
    font-weight: bold;
    font-style: italic;
    color: #000066; 
}

.kvpair_title
{
    font-style: italic;
    color: #666600; 
    padding-left: 6px;
}

.kvpair_body
{
    padding-left: 12px;
}
div.small_tools
{
    float: right;
    clear: both;
}

div.big_tools
{
    /*float: right;*/
    margin-bottom: 8px;
    /*position: relative;
    right: -6px;*/
}

div.big_tools_nogap
{
    /*float: right;*/
    margin-bottom: 8px;
    /*position: absolute;
    right: 6px;*/
}

p
{
    margin-top: 0px;
    margin-bottom: 6px;
}

.pagination
{
    margin-top: 8px;
    margin-bottom: 8px;
}

.pagination span, .pagination a, .button, button
{
    border: 1px solid #ccc;
    padding: 2px 4px;
    margin: 3px;
    -moz-border-radius: 5px;
    border-radius: 5px;
   
    -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.05);
 
    filter: Shadow(Color='gray', Direction=135, Strength=1);
    -ms-filter:"progid:DXImageTransform.Microsoft.shadow(Color='gray', Direction=135, Strength=1)";
    
    background-color: White;
    cursor: pointer;
    font-family: Calibri, Arial, sans-serif;
font-size: 100%;
}

.button img
{
    position: relative;
    top: 3px;
}

.button
{
    margin-bottom: 6px;
    text-decoration: none;
    color: Black;
}

.pagination span.disabled 
{
    color: #ccc
}

.pagination span.current 
{
    border: 1px solid #888;
    font-weight: bold;
}

.pagination a 
{
    text-decoration: none;
    color: Black;
}

.header
{
    font-size: 110%;
    margin-top:10px;
    margin-bottom:5px;
    margin-left:5px;
    font-weight: 600;
}

div.description
{
    margin: 4px;
}

.kv_title
{
    width:120px;
    float:left;
    margin-right: 5px;
    margin-top:2px;
    padding-top: 1px;
}

#add_list_empty, #remove_list_empty, #remove_list, #add_list, #weight_list
{
    padding-left:12px;
}

.header 
{
    font-size: 115%;
}

.relations_title h2 {
  display: inline;
  font-size: 100%;
  font-weight: normal;
  margin-right: 10px
}
.relations_title p:nth-child(2) {
  display: inline;
}

.link_weight
{
    width: 16px;
    height: 16px;
    float:left;
    cursor: pointer;
    margin-right: 3px;
}

.wp_popup
{
	position: absolute;
	left:0px;
	top:0px;
	z-index: 50000;
	width:180px;
	height:42px;
	padding-left: 4px;
	background-color: white;
	display: none;
}
.wp_weight
{
	float:left;
	cursor: pointer;
}
.wp_close
{
	float: right;
	cursor: pointer;
	padding-top: 3px;
	padding-right: 3px;
}
.wp_weights
{
	padding-top: 4px;
}
.wp_title
{
	padding-left: 1px;
}

ul.has_weight {
    list-style: none;
}
ul.has_weight li {
    /*padding-left: 20px;*/
    text-indent: -20px;
}

ul.has_weight .hasTooltip img {
    vertical-align: middle;
    margin-right: 4px;
}
